@font-face {
  font-family: "StretchPro";
  src: url('./../fonts/stretch/StretchProRegular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirLTStd";
  src: url('./../fonts/avenir/AvenirLTStd-Medium.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirLTStd";
  src: url('./../fonts/avenir/AvenirLTStd-Heavy.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirLTStd";
  src: url('./../fonts/avenir/AvenirLTStd-Black.ttf') format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url('./../fonts/poppins/Poppins-SemiBold.ttf') format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
// classes
.font-Stretch-Pro {
  font-family: "StretchPro", sans-serif;
}


.font-AvenirLTStd-Medium {
  font-family: "AvenirLTStd", sans-serif;
  font-weight: 500;
}
.font-AvenirLTStd-Heavy {
  font-family: "AvenirLTStd", sans-serif;
  font-weight: 700;
}
.font-AvenirLTStd-Black {
  font-family: "AvenirLTStd", sans-serif;
  font-weight: 900;
}

.font-Poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}