@keyframes rotateGradientObj {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}
@keyframes rotateGradientObjInverse {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
@keyframes rotateGradientObjServices {
    from {
        transform: translate(-50%, -50%) rotate(0deg) ;
    }

    to {
        transform: translate(-50%, -50%) rotate(-360deg) ;
    }
}
@keyframes rotateGradientObjServicesInverse {
    from {
        transform: translate(-50%, -50%) rotate(0deg) ;
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg) ;
    }
}

.card-s1 {
    background: rgb(61, 61, 61);
    background: -moz-linear-gradient(325deg, rgba(61, 61, 61, 0) 0%, rgba(0, 0, 0, 0.6026785714285714) 100%);
    background: -webkit-linear-gradient(325deg, rgba(61, 61, 61, 0) 0%, rgba(0, 0, 0, 0.6026785714285714) 100%);
    background: linear-gradient(325deg, rgba(61, 61, 61, 0) 0%, rgba(0, 0, 0, 0.6026785714285714) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3d3d3d", endColorstr="#000000", GradientType=1);
    border-radius: 20px;
    padding: 1px;
    border: none;
    overflow: hidden;
    position: relative;
    z-index: 1;
    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 208px;
        height: 280px;
        background: rgb(64, 224, 98);
        background: -moz-radial-gradient(circle, rgba(64, 224, 98, 1) 0%, rgba(32, 104, 26, 1) 100%);
        background: -webkit-radial-gradient(circle, rgba(64, 224, 98, 1) 0%, rgba(32, 104, 26, 1) 100%);
        background: radial-gradient(circle, rgba(64, 224, 98, 1) 0%, rgba(32, 104, 26, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#40e062", endColorstr="#20681a", GradientType=1);
        filter: blur(50px);
        z-index: -1;
        opacity: .18;
        transition: opacity .4s;
    }
    &.active,
    &:hover {
        .custom-border {
            background: linear-gradient(0deg, rgba(32, 104, 26, 0) 0%, rgba(64, 224, 98, 0.56) 100%) border-box;
        }
    }
    .animation-wrapper {
        .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .particles {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            opacity: .4;
        }
    }
    .custom-border {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 20px;
        border: 1px solid transparent;
        background: linear-gradient(320deg, rgba(32, 104, 26, 0) 0%, rgba(64, 224, 98, 0.24) 100%) border-box;
        -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
        z-index: -1;
        transition: .3s;
    }
}

.hero-sec {
    position: relative;
    background-image: url('./../../../assets/img/body-background.webp');
    background-size: cover;
    background-position: center;

    .hero-wrapper {
        padding: clamp(130px, 20vw, 200px) 0 clamp(45px, 12vw, 87px);

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            max-width: 1440px;
            height: 100%;
            top: 72px;
            left: 50%;
            transform: translate(-50%, 0);
            background-image: url('./../../../assets/img/hero-strokes-bg.webp');
            background-position: center top;
            background-repeat: no-repeat;
            background-size: contain;
            z-index: -1;
        }

        &::after {
            content: "";
            position: absolute;
            width: 655px;
            height: 600px;
            top: 60px;
            left: 50%;
            transform: translate(-50%, 0);
            background: rgb(64, 224, 98);
            background: -moz-radial-gradient(circle, rgba(64, 224, 98, .6) 0%, rgba(3, 140, 62, 1) 100%);
            background: -webkit-radial-gradient(circle, rgba(64, 224, 98, .6) 0%, rgba(3, 140, 62, 1) 100%);
            background: radial-gradient(circle, rgba(64, 224, 98, .6) 0%, rgba(3, 140, 62, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#40e062", endColorstr="#038c3e", GradientType=1);
            filter: blur(140px);
            z-index: -1;
            animation: 14s rotateGradientObjMain linear alternate-reverse infinite;
            transform-origin: center;

            @keyframes rotateGradientObjMain {
                from {
                    transform: translate(-50%, 0) rotate(0deg);
                }

                to {
                    transform: translate(-50%, 0) rotate(360deg);
                }
            }
        }

        .hero-title {
            font-size: clamp(34px, 7vw, 55px);
            margin-bottom: 18px;
        }

        .lead {
            margin-bottom: 22px;
        }

        #hero-obj-1 {
            position: absolute;
            top: 289px;
            right: calc(50% + 425px);
            animation: 8s ease;
        }

        #hero-obj-2 {
            position: absolute;
            top: 114px;
            left: calc(50% + 240px);
            z-index: 0;

            #inner-stroke {
                transform-origin: 500px 600px !important;
            }

            #inner-stroke,
            #outline-stroke {
                transform-origin: 300px 600px;
                animation: 10s strokeScalling linear infinite;
                opacity: 0;

                @keyframes strokeScalling {
                    0% {
                        transform: scaleX(1) scaleY(1);
                        opacity: 0;
                    }

                    10% {
                        opacity: 1;
                    }

                    75% {
                        opacity: 0;
                    }

                    100% {
                        transform: scaleX(0) scaleY(.2);
                        opacity: 0;
                    }

                }
            }

            #obj-logo-front,
            #obj-logo-back {
                transform-style: preserve-3d;
                animation: 8s linear infinite obj-logo;
                transform-origin: 500px 600px;

                @keyframes obj-logo {
                    from {
                        transform: rotateY(0deg);
                    }

                    to {
                        transform: rotateY(360deg);
                    }
                }
            }
        }

        .gradient-obj {
            position: absolute;
            width: 265px;
            height: 410px;
            transform: rotate(-32.7deg);
            background: rgb(64, 224, 98);
            background: -moz-radial-gradient(circle, rgba(64, 224, 98, .5) 0%, rgba(3, 140, 62, 1) 100%);
            background: -webkit-radial-gradient(circle, rgba(64, 224, 98, .5) 0%, rgba(3, 140, 62, 1) 100%);
            background: radial-gradient(circle, rgba(64, 224, 98, .5) 0%, rgba(3, 140, 62, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#40e062", endColorstr="#038c3e", GradientType=1);
            filter: blur(140px);
            z-index: -1;
            animation: 10s rotateGradientObj linear alternate-reverse infinite;


            &.gradient-obj-1 {
                top: 10px;
                right: calc(50% + 608px);
            }

            &.gradient-obj-2 {
                top: 228px;
                right: calc(50% + 451px);
            }

            &.gradient-obj-3 {
                top: 171px;
                left: calc(50% + 397px);
            }
        }
    }

    .why-spanish-wrapper {
        padding: clamp(45px, 12vw, 100px) 0;

        .strokes-bg {
            position: absolute;
            top: 55px;
            left: 50%;
            transform: translate(-50%, 0);
            z-index: -2;
        }

        .card {
            &::before {
                top: -8px;
                left: 48px;
                animation: 10s rotateGradientObj linear alternate-reverse infinite;
            }

            &::after {
                top: 65px;
                left: 119px;
                animation: 10s rotateGradientObjInverse linear alternate-reverse infinite;
            }

            &.active,
            &:hover {

                &::before,
                &::after {
                    opacity: .6;
                }

                .animation-wrapper {
                    .icon-wrapper {
                        .polygon {
                            &.hover-polygon {
                                display: block;
                            }

                            &.normal-polygon {
                                display: none;
                            }
                        }
                    }

                    .particles {
                        opacity: 1;
                    }
                }
            }

            .animation-wrapper {
                padding: 57px 20px 22px;

                .icon-wrapper {
                    .polygon {
                        &.hover-polygon {
                            display: none;
                        }

                        &.normal-polygon {
                            opacity: .5;
                        }
                    }
                }
            }

            .card-title {
                font-size: 25px;
            }

            .card-body {
                padding: 24px 30px 28px;
            }

   
        }
    }
    
}

.brands-sec {
    padding: clamp(45px, 5vw, 60px) 0;
    background: rgb(5, 120, 94);
    background: -moz-linear-gradient(45deg, rgba(5, 120, 94, 1) 0%, rgba(52, 204, 97, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(5, 120, 94, 1) 0%, rgba(52, 204, 97, 1) 100%);
    background: linear-gradient(45deg, rgba(5, 120, 94, 1) 0%, rgba(52, 204, 97, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#05785e", endColorstr="#34cc61", GradientType=1);

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgb(184, 243, 196);
        background: -moz-linear-gradient(45deg, rgba(184, 243, 196, 1) 0%, rgba(75, 226, 107, 1) 10%, rgba(74, 193, 99, 1) 26%, rgba(74, 193, 99, 0) 44%);
        background: -webkit-linear-gradient(45deg, rgba(184, 243, 196, 1) 0%, rgba(75, 226, 107, 1) 10%, rgba(74, 193, 99, 1) 26%, rgba(74, 193, 99, 0) 44%);
        background: linear-gradient(45deg, rgba(184, 243, 196, 1) 0%, rgba(75, 226, 107, 1) 10%, rgba(74, 193, 99, 1) 26%, rgba(74, 193, 99, 0) 44%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b8f3c4", endColorstr="#4ac163", GradientType=1);
        z-index: 0;
    }

    .slider-track {
        min-width: min-content;
        animation: brandxanim 26s infinite linear alternate-reverse;

        &.anim-inverse {
            transform: translateX(calc(-100% + 100vw));
            animation: brandxaniminverse 26s infinite linear alternate-reverse;

            @keyframes brandxaniminverse {
                from {
                    transform: translateX(calc(-100% + 100vw));
                }

                to {
                    transform: translateX(0);
                }
            }
        }

        @keyframes brandxanim {
            from {
                transform: translateX(0);
            }

            to {
                transform: translateX(calc(-100% + 100vw));
            }
        }

        .brand-item {
            position: relative;
            padding: 15px 30px;
            min-height: 83px;
            border-radius: 10px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgb(255, 255, 255);
            background: -moz-linear-gradient(300deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.30) 100%);
            background: -webkit-linear-gradient(300deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.30) 100%);
            background: linear-gradient(300deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.30) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 10px;
                border: 1px solid transparent;
                background: linear-gradient(320deg, rgba(#fff, .1) 0%, rgba(#40E062, .53) 100%) border-box;
                -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: destination-out;
                mask-composite: exclude;
                z-index: 1;
                transition: .3s;
            }
        }
    }
}

.default-sec {
    position: relative;
    padding: var(--section-padding);
    &.with-strokes-bg {
        .strokes-bg {
            position: absolute;
            top: 55px;
            left: 50%;
            transform: translate(-50%, 0);
            z-index: -1;
        }
    }
}
.services-sec {
    padding: clamp(45px, 7vw, 100px) 0 60px;
    position: relative;
    background-image: url('./../../../assets/img/body-background.webp');
    background-size: cover;
    background-position: center;
    .card {
        &::before,
        &::after {
            width: 50%;
            height: 50%;
            opacity: .3;
            top: 50%;
            left: 50%;
        }
        &::before {
            animation: 16s rotateGradientObjServices linear alternate-reverse infinite;
        }
        &::after {
            animation: 16s rotateGradientObjServicesInverse linear alternate-reverse infinite;
        }

        &.active,
        &:hover {
            &.influencer-marketing-card {
                .overlay-card {
                    top: 0;
                }
            }
        }

        .animation-wrapper {
            min-height: 456px;
        }

        .card-title {
            font-size: 32px;
        }

        .card-body {
            padding: 24px 30px 82px;
        }

        &.influencer-marketing-card {
            .animation-wrapper {
                .vertical-strokes-bg {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 50%;
                    left: 50%;
                    z-index: -1;
                    mix-blend-mode: overlay;
                    object-fit: contain;
                    max-width: 764px;
                    object-position: center;
                    transform: translate(-50%, -50%);
                }
                .text-card {
                    width: 100%;
                    padding: 22px;
                    border-radius: 16px;
                    background: linear-gradient(90deg, rgba(30,145,88,1) 0%, rgba(45,148,73,1) 50%, rgba(30,145,88,1) 100%);
                    width: 28%;
                    max-width: 372px;
                    position: absolute;
                    &:nth-child(1) {
                        top: 12%;
                        left: 24%;
                    }
                    &:nth-child(2) {
                        top: 16%;
                        right: 16%;
                    }
                    &:nth-child(3) {
                        bottom: 24%;
                        left: 14%;
                    }
                    &:nth-child(4) {
                        bottom: 20%;
                        right: 20%;
                    }
                    .text-div {
                        min-height: 16px;
                        border-radius: 20px;
                        position: relative;
                        background-color: rgba(#BAB3FF, .06);
                        overflow: hidden;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            border-radius: 10px;
                            border: 1px solid transparent;
                            background: linear-gradient(45deg, rgba(#fff, .1) 0%, rgba(#fff, .20) 100%) border-box;
                            -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
                            -webkit-mask-composite: destination-out;
                            mask-composite: exclude;
                            z-index: 0;
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            width: 60px;
                            height: 100%;
                            top: 0;
                            left: -100%;
                            border: 1px solid transparent;
                            background: linear-gradient(90deg, rgba(#fff, 0) 0%, rgba(#fff, .20) 50%, rgba(#fff, 0) 100%) border-box;
                            -webkit-mask-composite: destination-out;
                            mask-composite: exclude;
                            z-index: 0;
                            animation: shimmerEffect 3s linear infinite;
                            @keyframes shimmerEffect {
                                from {
                                    left: -100%;
                                }
                                to {
                                    left: 100%;
                                }
                            }
                        }
                        &:nth-child(2) {
                            &::after {
                                animation-delay: .3s;
                            }
                        }
                        &:nth-child(3) {
                            &::after {
                                animation-delay: .6s;
                            }
                        }
                    }
                }
            }
            .overlay-card {
                width: 100%;
                height: 100%;
                background: linear-gradient(0deg, #05785e 0%, #34cc61 100%);
                position: absolute;
                top: 100%;
                left: 0;
                transform-style: preserve-3d;
                transition: .4s cubic-bezier(0.215, 0.61, 0.355, 1);
                overflow-y: auto;
            }
        }
    }
}
@media (max-width: 1440px) {}

@media (max-width: 991px) {
    .services-sec {
        .card {
            &.influencer-marketing-card {
                .animation-wrapper {
                    min-height: 330px;
                    .text-card {
                        padding: 18px;
                        width: 40%;
                        &:nth-child(1) {
                            top: 8%;
                            left: 8%;
                        }
                        &:nth-child(2) {
                            top: 12%;
                            right: 8%;
                        }
                        &:nth-child(3) {
                            bottom: 12%;
                            left: 4%;
                        }
                        &:nth-child(4) {
                            bottom: 10%;
                            right: 10%;
                        }
                    }
                }
                .card-body {
                    padding: 24px 24px 40px;
                }
            }
        }
    }
}

@media (max-width: 767px) {}

@media (max-width: 410px) {}