@keyframes rotateGradientObj {
    from {
        transform: translate(-50%, -40%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -40%) rotate(-360deg);
    }
}

@keyframes rotateGradientObjInverse {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes rotateGradientObjServices {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -40%) rotate(-360deg);
    }
}

@keyframes rotateGradientObjServicesInverse {
    from {
        transform: translate(-50%, -60%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -60%) rotate(360deg);
    }
}

@keyframes shimmerEffect {
    from {
        left: -100%;
    }

    to {
        left: 100%;
    }
}

.card-s1 {
    background: linear-gradient(325deg, rgba(61, 61, 61, 0.10968137254901966) 0%, rgba(31, 35, 30, 0.6) 100%);
    border-radius: 20px;
    padding: 1px;
    border: none;
    overflow: hidden;
    position: relative;
    z-index: 1;

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 208px;
        height: 280px;
        background: radial-gradient(circle, rgba(64, 224, 98, 1) 0%, rgba(32, 104, 26, 1) 100%);
        filter: blur(46px);
        z-index: -1;
        opacity: .18;
        transition: opacity .4s;
    }

    &.active,
    &:hover {
        .custom-border {
            background: linear-gradient(0deg, rgba(32, 104, 26, 0) 0%, rgba(64, 224, 98, 0.56) 100%) border-box;
        }
    }

    .animation-wrapper {

        .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .particles {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            opacity: .6;
        }
    }

    .custom-border {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 20px;
        border: 1px solid transparent;
        background: linear-gradient(-30deg, rgba(32, 104, 26, 0) 0%, rgba(64, 224, 98, 0.24) 100%) border-box;
        -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
        z-index: -1;
        transition: .3s;
    }

    .overlay-card {
        background-image: url('./../img/overlay-card-bg.webp');
    }
}

.hero-sec {
    position: relative;
    background-image: url('./../../../assets/img/body-background.webp');
    background-size: cover;
    background-position: center;

    .hero-wrapper {
        padding: clamp(130px, 20vw, 200px) 0 clamp(45px, 12vw, 87px);

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            max-width: 1440px;
            height: 100%;
            top: 72px;
            left: 50%;
            transform: translate(-50%, 0);
            background-image: url('./../../../assets/img/hero-strokes-bg.webp');
            background-position: center top;
            background-repeat: no-repeat;
            background-size: contain;
            z-index: -1;
        }

        &::after {
            content: "";
            position: absolute;
            width: 655px;
            height: 600px;
            top: 60px;
            left: 50%;
            transform: translate(-50%, 0);
            background: radial-gradient(circle, rgba(64, 224, 98, .6) 0%, rgba(3, 140, 62, 1) 100%);
            filter: blur(140px);
            z-index: -1;
            animation: 14s rotateGradientObjMain linear alternate-reverse infinite;
            transform-origin: center;

            @keyframes rotateGradientObjMain {
                from {
                    transform: translate(-50%, 0) rotate(0deg);
                }

                to {
                    transform: translate(-50%, 0) rotate(360deg);
                }
            }
        }

        .hero-title {
            font-size: clamp(34px, 7vw, 55px);
            margin-bottom: 18px;
        }

        .lead {
            margin-bottom: 22px;
        }

        #hero-obj-1 {
            position: absolute;
            top: 289px;
            right: calc(50% + 425px);
            z-index: 0;
            animation: heroObjAnim 20s ease-in-out infinite;
            @keyframes heroObjAnim {
                0% {
                    top: 350px;
                }
                50% {
                    top: 289px;
                }
                100% {
                    top: 350px;
                }
            }
        }

        #hero-obj-2 {
            position: absolute;
            top: 114px;
            left: calc(50% + 240px);
            z-index: 0;

            #inner-stroke {
                transform-origin: 500px 600px !important;
            }

            #inner-stroke,
            #outline-stroke {
                transform-origin: 300px 600px;
                animation: 10s strokeScalling linear infinite;
                opacity: 0;

                @keyframes strokeScalling {
                    0% {
                        transform: scaleX(1) scaleY(1);
                        opacity: 0;
                    }

                    10% {
                        opacity: 1;
                    }

                    75% {
                        opacity: 0;
                    }

                    100% {
                        transform: scaleX(0) scaleY(.2);
                        opacity: 0;
                    }

                }
            }

            #obj-logo-front,
            #obj-logo-back {
                transform-style: preserve-3d;
                animation: 8s linear infinite obj-logo;
                transform-origin: 500px 600px;

                @keyframes obj-logo {
                    from {
                        transform: rotateY(0deg);
                    }

                    to {
                        transform: rotateY(360deg);
                    }
                }
            }
        }

        .gradient-obj {
            position: absolute;
            width: 265px;
            height: 410px;
            transform: rotate(-32.7deg);
            background: radial-gradient(circle, rgba(64, 224, 98, .5) 0%, rgba(3, 140, 62, 1) 100%);
            filter: blur(140px);
            z-index: -1;
            animation: 10s rotateGradientObj linear alternate-reverse infinite;


            &.gradient-obj-1 {
                top: 10px;
                right: calc(50% + 608px);
            }

            &.gradient-obj-2 {
                top: 228px;
                right: calc(50% + 451px);
            }

            &.gradient-obj-3 {
                top: 171px;
                left: calc(50% + 397px);
            }
        }
    }

    .why-spanish-wrapper {
        padding: clamp(45px, 12vw, 100px) 0;

        .strokes-bg {
            position: absolute;
            top: 55px;
            left: 50%;
            transform: translate(-50%, 0);
            z-index: -2;
        }

        .card {

            &::before,
            &::after {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &::before {
                animation: 10s rotateGradientObj linear alternate-reverse infinite;
            }

            &::after {
                animation: 10s rotateGradientObjInverse linear alternate-reverse infinite;
            }

            &.active,
            &:hover {

                &::before,
                &::after {
                    opacity: .6;
                }

                .animation-wrapper {
                    .icon-wrapper {
                        .polygon {
                            &.hover-polygon {
                                display: block;
                            }

                            &.normal-polygon {
                                display: none;
                            }
                        }
                    }

                    .particles {
                        opacity: 1;
                    }
                }
            }

            .animation-wrapper {
                padding: 57px 20px 22px;

                .icon-wrapper {
                    .polygon {
                        &.hover-polygon {
                            display: none;
                        }

                        &.normal-polygon {
                            opacity: .5;
                        }
                    }
                }
            }

            .card-title {
                font-size: 25px;
            }

            .card-body {
                padding: 24px 30px 28px;
            }


        }
    }

}

.brands-sec {
    padding: clamp(45px, 5vw, 60px) 0;
    background: rgb(5, 120, 94);
    background: -moz-linear-gradient(45deg, rgba(5, 120, 94, 1) 0%, rgba(52, 204, 97, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(5, 120, 94, 1) 0%, rgba(52, 204, 97, 1) 100%);
    background: linear-gradient(45deg, rgba(5, 120, 94, 1) 0%, rgba(52, 204, 97, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#05785e", endColorstr="#34cc61", GradientType=1);

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgb(184, 243, 196);
        background: -moz-linear-gradient(45deg, rgba(184, 243, 196, 1) 0%, rgba(75, 226, 107, 1) 10%, rgba(74, 193, 99, 1) 26%, rgba(74, 193, 99, 0) 44%);
        background: -webkit-linear-gradient(45deg, rgba(184, 243, 196, 1) 0%, rgba(75, 226, 107, 1) 10%, rgba(74, 193, 99, 1) 26%, rgba(74, 193, 99, 0) 44%);
        background: linear-gradient(45deg, rgba(184, 243, 196, 1) 0%, rgba(75, 226, 107, 1) 10%, rgba(74, 193, 99, 1) 26%, rgba(74, 193, 99, 0) 44%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b8f3c4", endColorstr="#4ac163", GradientType=1);
        z-index: 0;
    }

    .slider-track {
        min-width: min-content;
        animation: brandxanim 26s infinite linear alternate-reverse;

        &.anim-inverse {
            transform: translateX(calc(-100% + 100vw));
            animation: brandxaniminverse 26s infinite linear alternate-reverse;

            @keyframes brandxaniminverse {
                from {
                    transform: translateX(calc(-100% + 100vw));
                }

                to {
                    transform: translateX(0);
                }
            }
        }

        @keyframes brandxanim {
            from {
                transform: translateX(0);
            }

            to {
                transform: translateX(calc(-100% + 100vw));
            }
        }

        .brand-item {
            position: relative;
            padding: 15px 30px;
            min-height: 83px;
            border-radius: 10px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgb(255, 255, 255);
            background: -moz-linear-gradient(300deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.30) 100%);
            background: -webkit-linear-gradient(300deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.30) 100%);
            background: linear-gradient(300deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.30) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 10px;
                border: 1px solid transparent;
                background: linear-gradient(320deg, rgba(#fff, .1) 0%, rgba(#40E062, .53) 100%) border-box;
                -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: destination-out;
                mask-composite: exclude;
                z-index: 1;
                transition: .3s;
            }
        }
    }
}

.default-sec {
    position: relative;
    padding: var(--section-padding);

    &.with-strokes-bg {
        .strokes-bg {
            position: absolute;
            top: 55px;
            left: 50%;
            transform: translate(-50%, 0);
            z-index: -1;
        }
    }
}

.cta-sec {
    position: relative;
    padding: clamp(45px, 5vw, 60px) 0;
    background: linear-gradient(180deg, rgba(5, 120, 93, 0) 0%, rgba(52, 204, 97, 1) 100%);

    // &::before {
    //     content: "";
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     left: 0;
    //     top: 0;
    //     background: linear-gradient(45deg, rgba(184, 243, 196, 1) 0%, rgba(75, 226, 107, 1) 10%, rgba(74, 193, 99, 1) 26%, rgba(74, 193, 99, 0) 44%);
    //     z-index: 0;
    // }
    .custom-marquee {
        max-width: 100vw;
        overflow: hidden;
        .main-title {
            font-size: clamp(40px, 7vw, 55px);
        }
        span {
            min-width: fit-content;
            white-space: nowrap;
            color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: var(--primary-light);
            font-size: clamp(36px, 7vw, 52px);
            animation: brandxaniminverse 26s infinite linear alternate-reverse;
        }
    }


}
.services-sec {
    position: relative;
    background-image: url('./../../../assets/img/body-background.webp');
    background-size: cover;
    background-position: center;

    .card {
        &::before,
        &::after {
            width: 50%;
            height: 50%;
            opacity: .3;
            top: 50%;
            left: 50%;
        }
        &::before {
            animation: 16s rotateGradientObjServices linear alternate-reverse infinite;
        }

        &::after {
            animation: 16s rotateGradientObjServicesInverse linear alternate-reverse infinite;
        }

        &.active,
        &:hover {
            &.influencer-marketing-card {
                .overlay-card {
                    top: 0;
                }
            }
        }

        .animation-wrapper {
            min-height: 456px;

            .vertical-strokes-bg {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 50%;
                left: 50%;
                z-index: -1;
                mix-blend-mode: overlay;
                object-fit: contain;
                max-width: 764px;
                object-position: center;
                transform-style: preserve-3d;
                transform: translateX(-50%) translateY(-50%) translateZ(0);
            }
        }

        .card-title {
            font-size: clamp(24px, 7vw, 32px);
        }

        .card-body {
            padding: 24px 30px 82px;
        }

        &.influencer-marketing-card {
            .animation-wrapper {
                .text-card {
                    width: 100%;
                    padding: 22px;
                    border-radius: 16px;
                    background: linear-gradient(90deg, rgba(30, 145, 88, 1) 0%, rgba(45, 148, 73, 1) 50%, rgba(30, 145, 88, 1) 100%);
                    width: 28%;
                    max-width: 372px;
                    position: absolute;

                    &:nth-child(1) {
                        top: 12%;
                        left: 24%;
                    }

                    &:nth-child(2) {
                        top: 16%;
                        right: 16%;
                    }

                    &:nth-child(3) {
                        bottom: 24%;
                        left: 14%;
                    }

                    &:nth-child(4) {
                        bottom: 20%;
                        right: 20%;
                    }

                    .text-div {
                        min-height: 16px;
                        border-radius: 20px;
                        position: relative;
                        background-color: rgba(#BAB3FF, .06);
                        overflow: hidden;

                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            border-radius: 10px;
                            border: 1px solid transparent;
                            background: linear-gradient(45deg, rgba(#fff, .1) 0%, rgba(#fff, .20) 100%) border-box;
                            -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
                            -webkit-mask-composite: destination-out;
                            mask-composite: exclude;
                            z-index: 0;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            width: 60px;
                            height: 100%;
                            top: 0;
                            left: -100%;
                            border: 1px solid transparent;
                            background: linear-gradient(90deg, rgba(#fff, 0) 0%, rgba(#fff, .20) 50%, rgba(#fff, 0) 100%) border-box;
                            -webkit-mask-composite: destination-out;
                            mask-composite: exclude;
                            z-index: 0;
                            animation: shimmerEffect 3s linear infinite;
                        }

                        &:nth-child(2) {
                            &::after {
                                animation-delay: .3s;
                            }
                        }

                        &:nth-child(3) {
                            &::after {
                                animation-delay: .6s;
                            }
                        }
                    }
                }
            }

            .overlay-card {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                background: linear-gradient(0deg, #05785e 0%, #34cc61 100%);
                top: 100%;
                transition: .4s cubic-bezier(0.215, 0.61, 0.355, 1);
                overflow-y: auto;
                transform: unset;
            }
        }

        &.social-ads-card {
            .animation-wrapper {
                .slider {
                    margin-top: clamp(40px, 7vw, 85px);

                    .slide {
                        padding: 22px;
                        border-radius: 12px;
                        background: linear-gradient(90deg, rgba(30, 145, 88, 1) 0%, rgba(45, 148, 73, 1) 50%, rgba(30, 145, 88, 1) 100%);
                        width: clamp(240px, 14vw, 264px);
                        transition: .5s;

                        .empty-box {
                            overflow: hidden;
                            min-height: 16px;
                            border-radius: 12px;
                            position: relative;
                            background-color: rgba(#BAB3FF, .06);
                            margin-bottom: 12px;

                            &::before {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                border-radius: 10px;
                                border: 1px solid transparent;
                                background: linear-gradient(45deg, rgba(#fff, .1) 0%, rgba(#fff, .20) 100%) border-box;
                                -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
                                -webkit-mask-composite: destination-out;
                                mask-composite: exclude;
                                z-index: 0;
                            }

                            &::after {
                                content: "";
                                position: absolute;
                                width: 60px;
                                height: 100%;
                                top: 0;
                                left: -100%;
                                border: 1px solid transparent;
                                background: linear-gradient(90deg, rgba(#fff, 0) 0%, rgba(#fff, .20) 50%, rgba(#fff, 0) 100%) border-box;
                                -webkit-mask-composite: destination-out;
                                mask-composite: exclude;
                                z-index: 0;
                                animation: shimmerEffect 3s linear infinite;


                            }
                        }

                        &:not(.slick-current) {
                            transform: scale(.7);
                            box-shadow: 0px 0px 0px 20px rgba(#40E062, .2);

                            * {
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
        
        &.social-media-manage-card {
            .animation-wrapper {
                .social-boxes {
                    margin-top: clamp(30px, 5vw, 40px);
                    gap: 42px;
                    background-image: url('./../img/service-social-media-manage-stroke.webp');
                    background-position: center;
                    background-size: 100% 100%;
                    .icon-box {
                        padding: 26px;
                        border-radius: 16px;
                        background: linear-gradient(0deg, rgba(51,185,95,1) 0%, rgba(32,148,91,1) 100%);
                        &.active {
                            transition: 1s cubic-bezier(0.25, 0.75, 0.5, 1.25);
                            transform: rotateY(360deg);
                        }
                    }
                }
            }
        }
        &.press-media-card {
            .animation-wrapper {
                overflow: hidden;
                .obj {
                    position: absolute;
                    max-width: 518px;
                    width: 90%;
                    top: clamp(20px, 7vw, 40px);
                    left: clamp(80px, 14vw, 162px);
                    // animation: 6s linear infinite rotatePressMediaObj;
                    // animation-delay: 2s;
                    // transform-origin: right bottom;
                    // transform: rotate(0deg);
                    // @keyframes rotatePressMediaObj {
                    //     0% {
                    //         transform: rotate(0deg);
                    //     }
                    //     20% {
                    //         transform: rotate(0);
                    //     }
                    //     25% {
                    //         transform: rotate(-360deg);
                    //     }
                    //     30% {
                    //         transform: rotate(-0deg);
                    //     }
                    //     100% {
                    //         transform: rotate(0deg);
                    //     }
                    // }
                }
            }
        }
        &.community-manage-card {
            .animation-wrapper {
                overflow: hidden;
                .obj {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
                .circle {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                    border: 1px dashed rgba(#40E062, .6);
                    animation: 30s rotateCommunityCircle linear infinite;
                    @keyframes rotateCommunityCircle {
                        from {
                            transform: translate(-50%, -50%) rotate(360deg);
                        }
                        to {
                            transform: translate(-50%, -50%) rotate(0deg);
                        }
                    }
                    .person {
                        animation: 30s rotateCommunityCirclePerson linear infinite;
                        @keyframes rotateCommunityCirclePerson {
                            from {
                                transform: translate(-50%, -50%) rotate(-360deg);
                            }
                            to {
                                transform: translate(-50%, -50%) rotate(0deg);
                            }
                        }
                    }
                    &.cirlce-level-1 {
                        width: 364px;
                        height: 364px;
                        .person {
                            position: absolute;
                            transform-origin: center;
                            &.person-1 {
                                left: 50%;
                                top: 0;
                            }
                            &.person-2 {
                                left: 60%;
                                bottom: -50px;
                            }
                            &.person-3 {
                                top: 60%;
                                left: 4px;
                            }
                        }
                        
                    }
                    &.cirlce-level-2 {
                        width: 232px;
                        height: 232px;
                        animation-duration: 20s;
                        .person {
                            position: absolute;
                            animation-duration: 20s;
                            &.person-4 {
                                left: 100px;
                                top: 0;
                            }
                            &.person-5 {
                                top: 60%;
                                right: -50px;
                            }
                        }
                        
                    }
                }
            }
        }
        &.content-marketing-card {
            .animation-wrapper {
                .btn-wrapper {
                    padding: 9px;
                    transition: .4s;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    background-image: unset;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    animation: 8s mouseHoverShadowAnim linear infinite;
                    @keyframes mouseHoverShadowAnim {
                        0% {
                            background-image: unset;
                        }
                        10% {
                            background-image: url('./../img/service-content-marketing-btn-shadow.webp');
                        }
                        60% {
                            background-image: url('./../img/service-content-marketing-btn-shadow.webp');
                        }
                        70% {
                            background-image: unset;
                        }
                        100% {
                            background-image: unset;
                        }
                    }
                }
                .mouse-cursor {
                    position: absolute;
                    right: 18%;
                    bottom: 14%;
                    transform: translate(-50%, -50%);
                    animation: 8s mouseHoverAnim linear infinite;
                    @keyframes mouseHoverAnim {
                        0% {
                            right: 18%;
                            bottom: 14%;
                        }
                        10% {
                            right: 34%;
                            bottom: 34%;
                        }
                        60% {
                            right: 34%;
                            bottom: 34%;
                        }
                        70% {
                            right: 18%;
                            bottom: 14%;
                        }
                        100% {
                            right: 18%;
                            bottom: 14%;
                        }
                    }
                }   
            }
        }
        &.event-manage-card {
            .animation-wrapper {
                .obj {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }

    .service-card-wrapper {
        perspective: 1500px;
        .card {
            transform-style: preserve-3d;
            transition: 0.7s cubic-bezier(0.25, 0.75, 0.5, 1.25);
            overflow: unset;
            .animation-wrapper {
                .vertical-strokes-bg {
                    opacity: .5;
                }
            }
      
            .back-face {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                backface-visibility: hidden;
                transform-style: preserve-3d;
                user-select: none;
                pointer-events: none;
                transform: rotateY(180deg) translateZ(0);
                background-color: var(--black);
                background-image: url('./../img/overlay-card-bg.webp');
                background-size: cover;
                padding: clamp(40px, 7vw, 72px) clamp(24px, 7vw, 45px);
            }
        }
        .card.active {
            transform: rotateY(180deg);
        }
        &:hover {
            .card {
                transform: rotateY(180deg);
            }
        }
    }
    &.sec-obj {
        .obj {
            position: absolute;
            background: radial-gradient(circle, rgba(64, 224, 98, 1) 0%, rgba(32, 104, 26, 1) 100%);
            filter: blur(46px);
            z-index: -1;
            opacity: .4;
            
            &.obj-1 {
                width: 400px;
                height: 100px;
                top: 6%;
                left: 36%;
            }
            &.obj-2 {
                top: 6%;
                left: 50%;
                width: 200px;
                height: 50%;
                transform: rotate(10deg);
            }
        }
    }
}

.kols-sec {
    .card {

        &::before,
        &::after {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &::before {
            animation: 16s rotateGradientObj linear alternate-reverse infinite;
        }

        &::after {
            animation: 16s rotateGradientObjInverse linear alternate-reverse infinite;
        }

        &.active,
        &:hover {

            &::before,
            &::after {
                opacity: .6;
            }

            .avatar {
                transform: scale(1.1);
            }
        }

        .avatar {
            transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        .card-title {
            font-size: 25px;
        }

        .card-body {
            padding: 31px 24px;
        }
    }

    .social-list {
        .icon {
            padding: 15px;
            border-radius: 50%;
            position: relative;
            background-image: url('./../img/socail-icon-bg.webp');
            background-repeat: no-repeat;
            background-size: contain;
            transition: .6s cubic-bezier(0.645, 0.045, 0.355, 1);

            &::before {
                content: "";
                position: absolute;
                left: 50%;
                bottom: 3px;
                width: 40px;
                height: 7px;
                transform: translate(-50%, 0);
                filter: blur(12px);
                transition: .3s;
            }

            &:hover {
                translate: 0 -10px;

                img {
                    scale: 1.15;
                }
            }

            &.instagram {
                &::before {
                    background: linear-gradient(-90deg, rgba(251, 225, 138, 1) 0%, rgba(252, 187, 69, 1) 21%, rgba(247, 82, 116, 1) 38%, rgba(213, 54, 146, 1) 52%, rgba(143, 57, 206, 1) 74%, rgba(91, 79, 233, 1) 100%);
                }
            }

            &.youtube {
                &::before {
                    background: linear-gradient(90deg, rgba(255, 3, 2, 1) 0%, rgba(192, 3, 3, 1) 100%);
                }
            }

            &.twitter {
                &::before {
                    background: linear-gradient(90deg, rgba(80, 80, 80, 1) 0%, rgba(6, 10, 19, 1) 100%);
                }
            }

            &.telegram {
                &::before {
                    background: linear-gradient(90deg, rgba(42, 171, 238, 1) 0%, rgba(34, 158, 217, 1) 100%);
                }
            }

            img {
                transition: .6s cubic-bezier(0.645, 0.045, 0.355, 1);
            }
        }
    }
}

@media (max-width: 1440px) {
    .services-sec {
        .card {
            .animation-wrapper {
                min-height: 380px;
            }
        }
    }
}
@media (max-width: 1200px) {
    .hero-sec {
        .hero-wrapper {
            #hero-obj-1 {
                width: 240px;
                height: auto;
                top: 340px;
                right: calc(50% + 300px);
                @keyframes heroObjAnim {
                    0% {
                        top: 380px;
                    }
                    50% {
                        top: 340px;
                    }
                    100% {
                        top: 380px;
                    }
                }
            }
    
            #hero-obj-2 {
                top: 400px;
                width: 700px;
                height: auto;
            }
        }
    }
}

@media (max-width: 991px) {
    .hero-sec {
        .hero-wrapper {
            #hero-obj-1 {
                display: none;
            }
    
            #hero-obj-2 {
                width: 90%;
                min-width: 700px;
                top: 48%;
                left: 38%;
            }
        }
    }
    .services-sec {
        .card {
            .animation-wrapper {
                min-height: 312px;
            }

            .card-body {
                padding: 24px 24px 40px;
            }

            &.influencer-marketing-card {
                .animation-wrapper {
                    .text-card {
                        padding: 18px;
                        width: 40%;

                        &:nth-child(1) {
                            top: 8%;
                            left: 8%;
                        }

                        &:nth-child(2) {
                            top: 12%;
                            right: 8%;
                        }

                        &:nth-child(3) {
                            bottom: 10%;
                            left: 4%;
                        }

                        &:nth-child(4) {
                            bottom: 8%;
                            right: 10%;
                        }
                    }
                }

            }
            &.social-media-manage-card {
                .animation-wrapper {
                    .social-boxes {
                        gap: 20px;
                        .icon-box {
                            padding: 20px;
                        }
                    }
                }
            }
            &.press-media-card {
                .animation-wrapper {
                    .obj {
                        max-width: 358px;
                    }
                }
            }
            &.community-manage-card {
                .animation-wrapper {
                    .obj {
                        width: 80px;
                        height: 80px;
                    }
                    .circle {
                        .person {
                            width: 50px;
                            height: 50px;
                        }
                        &.cirlce-level-1 {
                            width: 280px;
                            height: 280px;
                            
                        }
                        &.cirlce-level-2 {
                            width: 180px;
                            height: 180px;
                        }
                    }
                }
            }
            &.event-manage-card {
                .animation-wrapper {
                    .obj {
                        width: 320px;
                        height: auto;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .services-sec {
        .card {
            &.social-media-manage-card {
                .animation-wrapper {
                    .social-boxes {
                        .icon-box {
                            padding: 18px;
                        }
                    }
                }
            }
            &.content-marketing-card {
                .animation-wrapper {
                    .btn-wrapper {
                        .btn-img {
                            max-width: 260px;
                        }
                    } 
                }
            }
        }
    }
}

@media (max-width: 410px) {}